@import 'tailwindcss';

@layer components {
    #network {
        border: 1px solid black;
        width: 100vw;
        height: 100dvh;
    }

    html,
    body {
        background: black;
        color: white;
        margin: 0;
        padding: 0;
    }

    button {
        cursor: pointer;
    }


}